# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db
db.sqlite3

# Celerybeat scheduler file:
celerybeat-schedule

#bower configs
bower.json

# unmodified boiler plate or std files
mydjango/assets/bower_components/
mydjango/assets/jquery/
