<!--templates.linkengine.link_list-->
{% extends "includes/base.html" %}

	{% block title %}
		MyLinks
	{% endblock %}

	{% block content %}
		<ol>
		{% for link in object_list %}
		<form method="post" action="{% url 'vote' %}" class="vote_form">
    		<li> [{{ link.votes }}]
    		{% csrf_token %}
    		<input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
    		<input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
    		{% if not user.is_authenticated %}
    		<button disabled title="Please login to vote">+</button>
		    {% elif link.pk not in voted %}
    		<button>+</button>
		    {% else %}
  			<button>-</button>
 		    {% endif %}
            <a href="{% url 'link_detail' pk=link.pk %}"><button></button>
		    <li>
		    <a href="{{ link.url }}">
		    <a href="{% url 'link_detail' pk=link.pk %}">
		    	<b>{{ link.title }}</b></a>
		    </li>
		</form>    
		{% endfor %}
		</ol>
		<ul class="pager">
        {% if page_obj.has_previous %}
        <li class="previous"><a href="/{{ page_obj.previous_page_number }}/">Previous Page</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="next"><a href="/{{ page_obj.next_page_number }}/">Next Page</a></li>
        {% endif %}
        </ul>
	{% endblock %}